body {
    background-color: #c11c3b !important;
}

.kanban-table td {
    vertical-align: top;
    width: 20%;
    height: 85vh;
}

.kanban-table th {
    vertical-align: top;
    width: 20%;
    height: 4vh;
    text-align: left;
}

.kanban-table, .kanban-table tr {
    width: 100%;
}

.card-div {
    min-width: 300px;
    width: 100%;
    padding: 4px;
    max-height: 90vh;
    margin-bottom: 1vh !important;
}

.custom-scrollbar {
    float: left;
    overflow-y: auto;
}

.main-div {
    overflow-x: auto;
    padding-left: 20px;
}

.main-div::-webkit-scrollbar-thumb {
    background-color: #ddd !important;
    outline: 1px solid slategrey;
  }
.title-div {
    color: #fff;
    text-align: center;
    padding-top: 0.5vh;
}

.hand-cursor {
    cursor: pointer !important;
}