.kanban-table td {
    vertical-align: top;
    width: 20%;
}

.kanban-table, .kanban-table tr {
    width: 100%;
}

.card-div {
    min-width: 300px;
    width: 100%;
    padding: 4px;
    height: 90vh;
}

.custom-scrollbar {
    float: left;
    overflow-y: scroll;
}

.main-div {
    overflow-x: scroll;
}