.kanban-table td {
    vertical-align: top;
    width: 20%;
    height: 90vh;
}

.kanban-table th {
    vertical-align: top;
    width: 20%;
    height: 4vh;
}

.kanban-table th {
    margin-bottom: 1011px;
}

.kanban-table, .kanban-table tr {
    width: 100%;
}

.card-div {
    min-width: 300px;
    width: 100%;
    padding: 4px;
    max-height: 90vh;
    margin-bottom: 1vh !important;
}

.custom-scrollbar {
    float: left;
    overflow-y: auto;
}

.main-div {
    overflow-x: auto;
}

.hand-cursor {
    cursor: pointer;
}